body{
    background-color: black;
    color: white;
}


#tabs{
    display: flex;
    background-color: black;
    color: white;
    font-size: 30px;
    
}

.navTab {
  
    margin-right: auto;
    margin-left: auto;
}
a {
    color: whitesmoke;
}
a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    
    background-color:whitesmoke;
    color: black;
    font-size: larger;
}

#amImg{
    border: solid;
    border-radius: 1000px;
    position: absolute;
    left: 25px;
    top: 25%;
    width: 25%;
    height: inherit;
 
   
    
}
#skyline{
    position: relative;
    width: 100%;
}
#amText{
    position: absolute;
    left: 25px;
   top: 50%;
}

