body{
    background-color: black;
    color: white;
}


#tabs{
    display: flex;
    background-color: black;
    color: white;
    font-size: 30px;
    
}

.navTab {
  
    margin-right: auto;
    margin-left: auto;
}
a {
    color: whitesmoke;
}
a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    
    background-color:whitesmoke;
    color: black;
    font-size: larger;
}
#am {
    display: inline;
    
}

#AboutMe{
   
   border:solid;
   border-radius: 13px;
   border-color: whitesmoke;
   border-width: 2px;
    display: flex;
   flex-direction: column;
    
}

#amImg {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    
   
}

#PersonalProjects{
    display: flex;
    flex-direction: column;

 
    margin-top: 20px;
    clear: left;
    border:solid;
   border-radius: 13px;
   border-color:whitesmoke;
   border-width: 2px;
}

#skills{
    margin-top: 20px;
    border:solid;
    border-radius: 13px;
    border-color:whitesmoke;
    border-width: 2px;
 
}

#amText{
    flex-direction: column;
}

#rpsImg{
    float: left;
    margin-bottom: 25px;
}
#pk5{
    clear: left;
   
}

#pkImg{
    clear: left;
    float: left;
     
     margin-bottom: 25px;
}
#ws{
    
    clear: left;
    margin-bottom: 55px;
}
#wsImg{
    float: left;
   
}

#contactMe{
    margin-top: 20px;
    border:solid;
    border-radius: 13px;
    border-color:whitesmoke;
    border-width: 2px;
}


